/* Stylesheet for Day Planner */

#jumbo1 {
    background-color: white;
    text-align: center;
}
#jumbo {
    background-color: gray;
}
.row {
    background-color: gray;
}
.col {
    border: solid black;
    background-color: white;
    border-radius: 20px;
}
.col-8 {
    border: solid black;
    background-color: gray;
}
.saveBtns {
    background-color: teal;
    color: white;
    width: 100%;
    border-radius: 20px;
    height: 100%;
}
.colLeft {
    background-color: white;
    text-align: center;
    font-size: 30px;
}
.alerts {
    text-align: center;
    font-size: 30px;
    font-style: italic;
}